# Dataframe Generation for Model Input
* Author: Callie Clark
* Date updated: 4/3/2021

In [47]:
import pandas as pd
import requests
import datetime as dt
import numpy as np

import dataframe_generation_files as gen

## Format Incident Data

In [48]:
df=gen.format_file('Chicago_Data/Crimes_-_2014.zip','Crimes_-_2014.csv',timezone="America/Chicago")
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Timestamp
0,9470797,HX123824,2014-01-22,031XX S ASHLAND AVE,0460,BATTERY,SIMPLE,RESTAURANT,True,False,...,59,08B,1166178.0,1883833.0,2014,05/24/2017 03:50:24 PM,41.836816,-87.665724,"(41.836816162, -87.665724279)",2014-01-22 16:02:00-06:00
5,9729405,HX379028,2014-08-08,044XX W JACKSON BLVD,4651,OTHER OFFENSE,SEX OFFENDER: FAIL REG NEW ADD,RESIDENCE,True,False,...,26,26,1146739.0,1898315.0,2014,05/21/2017 03:53:28 PM,41.876949,-87.736685,"(41.876949072, -87.736685059)",2014-08-08 10:50:00-05:00
6,9510600,HX165568,2014-02-26,037XX N MONTICELLO AVE,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,...,16,05,1151395.0,1924539.0,2014,05/19/2017 03:49:49 PM,41.948820,-87.718900,"(41.948820056, -87.718899701)",2014-02-26 07:40:00-06:00
12,9539289,HX192580,2014-03-20,111XX S STATE ST,0460,BATTERY,SIMPLE,GAS STATION,True,False,...,49,08B,1178229.0,1831287.0,2014,05/15/2017 03:51:52 PM,41.692359,-87.623097,"(41.692358646, -87.623096746)",2014-03-20 19:25:00-05:00
15,9801642,HX450761,2014-09-13,070XX S MERRILL AVE,1725,OFFENSE INVOLVING CHILDREN,CONTRIBUTE CRIM DELINQUENCY JUVENILE,OTHER,True,True,...,43,20,1191762.0,1858706.0,2014,05/09/2017 03:51:05 PM,41.767282,-87.572664,"(41.767282129, -87.572663824)",2014-09-13 14:00:00-05:00

## Add Murder Data 
https://home.chicagopolice.org/wp-content/uploads/2014/12/2011-Murder-Report.pdf
(removed from CFS)
TO DO: Clean up and create a function

In [49]:
import geopandas as gpd
from random_timestamp import random_timestamp
import random
from shapely.geometry import Point
from numpy import asarray
timestamps=[]
lat_long=[]

def generate_random(number, polygon):
    points = []
    minx, miny, maxx, maxy = polygon.bounds
    while len(points) < number:
        pnt = Point(random.uniform(minx, maxx), random.uniform(miny, maxy))
        if polygon.contains(pnt):
            points.append(pnt)
            timestamps.append(random_timestamp(year=2014))
            lat_long.append(asarray(pnt))
    return lat_long, timestamps

fp = "Simulation_Data/Chicago_PB.shp"
polys  = gpd.read_file(fp)

In [50]:
murders_df=pd.read_csv('Chicago_Data/Chicago_Murders_District.csv')
murders_df['Average Murders']=murders_df[['2010 Murders','2011 Murders']].mean(axis=1)
murders_2014=murders_df[['District','Average Murders']]#.set_index('District')
murders_2014['District']=murders_2014['District'].astype(str)
polys=polys.merge(murders_2014,how='left',left_on='dist_num',right_on='District').drop(columns=['District']).fillna(0)
polys.head()

<ipython-input-50-3ac121af723d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  murders_2014['District']=murders_2014['District'].astype(str)

,dist_label,dist_num,geometry,Average Murders
0,17TH,17,"POLYGON ((-87.71067 41.99737, -87.71067 41.997...",7.0
1,20TH,20,"POLYGON ((-87.66029 41.99092, -87.66029 41.990...",3.5
2,31ST,31,"POLYGON ((-87.82818 41.98384, -87.82816 41.983...",0.0
3,31ST,31,"POLYGON ((-87.83365 41.97535, -87.83366 41.974...",0.0
4,19TH,19,"POLYGON ((-87.64492 41.96973, -87.64431 41.969...",2.0

In [51]:
murder_by_district={}
murders_loc=[]
timestamp_murders=[]
for index_loc in polys.index:
    district=polys.iloc[index_loc,1]
    murder_num=polys.iloc[index_loc,3]
    #print(district,murder_num)
    points, timestamps=generate_random(int(murder_num), polys.geometry[index_loc])
    #murder_by_district[int(district)]=points
    timestamp_murders=timestamp_murders+timestamps
    murders_loc=murders_loc+points

In [52]:
df_2 = pd.DataFrame(0, index=np.arange(len(timestamp_murders)), columns=df.columns)
df_2['Timestamp']=timestamp_murders
df_2['Timestamp']=df_2['Timestamp'].dt.tz_localize("America/Chicago",nonexistent='shift_forward',ambiguous='NaT')
df_2['Location']=murders_loc
df_2['Latitude']=df_2.apply((lambda x: x['Location'][1]),axis=1)
df_2['Longitude']=df_2.apply((lambda x: x['Location'][0]),axis=1)
df_2['Date']=df_2.apply((lambda x: x['Timestamp'].date()),axis=1)
df_2['FBI Code']=["01A" for i in range(len(timestamp_murders))]
df_2.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Timestamp
0,0,0,2014-05-31,0,0,0,0,0,0,0,...,0,01A,0,0,0,0,41.963446,-87.706067,"[-87.70606735153316, 41.96344585389322]",2014-05-31 16:31:25-05:00
1,0,0,2014-03-10,0,0,0,0,0,0,0,...,0,01A,0,0,0,0,41.951613,-87.698610,"[-87.69860955457975, 41.95161320922028]",2014-03-10 04:48:06-05:00
2,0,0,2014-09-23,0,0,0,0,0,0,0,...,0,01A,0,0,0,0,41.953490,-87.713853,"[-87.71385307257475, 41.95349021663082]",2014-09-23 19:57:09-05:00
3,0,0,2014-11-11,0,0,0,0,0,0,0,...,0,01A,0,0,0,0,41.981550,-87.731045,"[-87.73104488450296, 41.981549977088875]",2014-11-11 15:35:06-06:00
4,0,0,2014-11-30,0,0,0,0,0,0,0,...,0,01A,0,0,0,0,41.957336,-87.728611,"[-87.72861054590544, 41.95733573720583]",2014-11-30 06:35:30-06:00

In [53]:
df=pd.concat([df,df_2]) #add murders to original DataFrame

In [54]:
gen.check_lat_long(df)

Data has Latitude and Longitude

In [55]:
violent_crime=["01A",'02','03','04A','04B']
property_crime=['05','06','07','09']
index_crime=["01A",'02','03','04A','04B','05','06','07','09']
nonindex_crime=['01B', '08A', '08B','10','11','12','13','14','15','16','17','18','19','20','22','24','26']
nonviolent_crime=nonindex_crime+property_crime
    
df=gen.classify_response_type(df, crime_responder='Police', crime_types=index_crime, UCRcol='FBI Code' )
#TODO may want to indicate the crime type in csv name
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Timestamp,Police
0,9470797,HX123824,2014-01-22,031XX S ASHLAND AVE,0460,BATTERY,SIMPLE,RESTAURANT,1,0,...,08B,1166178.0,1883833.0,2014,05/24/2017 03:50:24 PM,41.836816,-87.665724,"(41.836816162, -87.665724279)",2014-01-22 16:02:00-06:00,0
5,9729405,HX379028,2014-08-08,044XX W JACKSON BLVD,4651,OTHER OFFENSE,SEX OFFENDER: FAIL REG NEW ADD,RESIDENCE,1,0,...,26,1146739.0,1898315.0,2014,05/21/2017 03:53:28 PM,41.876949,-87.736685,"(41.876949072, -87.736685059)",2014-08-08 10:50:00-05:00,0
6,9510600,HX165568,2014-02-26,037XX N MONTICELLO AVE,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,0,0,...,05,1151395.0,1924539.0,2014,05/19/2017 03:49:49 PM,41.948820,-87.718900,"(41.948820056, -87.718899701)",2014-02-26 07:40:00-06:00,1
12,9539289,HX192580,2014-03-20,111XX S STATE ST,0460,BATTERY,SIMPLE,GAS STATION,1,0,...,08B,1178229.0,1831287.0,2014,05/15/2017 03:51:52 PM,41.692359,-87.623097,"(41.692358646, -87.623096746)",2014-03-20 19:25:00-05:00,0
15,9801642,HX450761,2014-09-13,070XX S MERRILL AVE,1725,OFFENSE INVOLVING CHILDREN,CONTRIBUTE CRIM DELINQUENCY JUVENILE,OTHER,1,1,...,20,1191762.0,1858706.0,2014,05/09/2017 03:51:05 PM,41.767282,-87.572664,"(41.767282129, -87.572663824)",2014-09-13 14:00:00-05:00,0

In [56]:
df=gen.set_priority(df)
df=gen.set_number_responders(df,number_per_call=2)

In [57]:
df=gen.log_norm_service_time(df, average_time=23.2,s=0.18)

Stats of dist: min 9.622929069221001 max 52.634526728018464 mean 23.56708011829274

In [58]:
#Double Service Times for Murders
df.loc[df['FBI Code']=='01A','Service Time']=df.loc[df['FBI Code']=='01A','Service Time']*2

## Create Seasonal Profiles
*  Crime frequency and type varies by season

In [59]:
season_map={}
df=gen.create_seasons(df,season_map)
df=gen.calculate_frequency(df)
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Latitude,Longitude,Location,Timestamp,Police,Priority,#Responders,Service Time,season,Frequency
0,9470797,HX123824,2014-01-22,031XX S ASHLAND AVE,0460,BATTERY,SIMPLE,RESTAURANT,1,0,...,41.836816,-87.665724,"(41.836816162, -87.665724279)",2014-01-22 16:02:00-06:00,0,3,2,0 days 00:22:00,winter,631
5,9729405,HX379028,2014-08-08,044XX W JACKSON BLVD,4651,OTHER OFFENSE,SEX OFFENDER: FAIL REG NEW ADD,RESIDENCE,1,0,...,41.876949,-87.736685,"(41.876949072, -87.736685059)",2014-08-08 10:50:00-05:00,0,3,2,0 days 00:27:00,summer,809
6,9510600,HX165568,2014-02-26,037XX N MONTICELLO AVE,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,0,0,...,41.948820,-87.718900,"(41.948820056, -87.718899701)",2014-02-26 07:40:00-06:00,1,2,2,0 days 00:24:00,winter,672
12,9539289,HX192580,2014-03-20,111XX S STATE ST,0460,BATTERY,SIMPLE,GAS STATION,1,0,...,41.692359,-87.623097,"(41.692358646, -87.623096746)",2014-03-20 19:25:00-05:00,0,3,2,0 days 00:21:00,spring,771
15,9801642,HX450761,2014-09-13,070XX S MERRILL AVE,1725,OFFENSE INVOLVING CHILDREN,CONTRIBUTE CRIM DELINQUENCY JUVENILE,OTHER,1,1,...,41.767282,-87.572664,"(41.767282129, -87.572663824)",2014-09-13 14:00:00-05:00,0,3,2,0 days 00:28:00,summer,665

In [60]:
seasonal_profiles={}
seasonal_profiles=gen.generate_seasonal_profiles(df,seasonal_profiles,quantile_list=[0.5],iterations=1, number_profiles=1)
seasonal_profiles

{'summer_0.5': [datetime.date(2014, 8, 18)],
 'fall_0.5': [datetime.date(2014, 10, 4)],
 'spring_0.5': [datetime.date(2014, 6, 5)],
 'winter_0.5': [datetime.date(2014, 1, 26)],
 'summer_worst_case': [datetime.date(2014, 8, 1)],
 'fall_worst_case': [datetime.date(2014, 10, 1)],
 'spring_worst_case': [datetime.date(2014, 6, 1)],
 'winter_worst_case': [datetime.date(2014, 1, 1)]}

In [61]:
daily_profiles={}
gen.quantile_daily_profiles(df, daily_profiles,quantiles=[0.25,0.50,0.75,0.95],iterations=1)
gen.worst_case_profiles(df, daily_profiles,number_profiles=1)
daily_profiles

{'all_data_0.25': [datetime.date(2014, 11, 2)],
 'all_data_0.5': [datetime.date(2014, 5, 7)],
 'all_data_0.75': [datetime.date(2014, 6, 23)],
 'all_data_0.95': [datetime.date(2014, 4, 12)],
 'all_data_worst_case': [datetime.date(2014, 8, 1)]}

## Generate Incident Profiles and send to csvs

In [62]:
gen.create_csv(daily_profiles,df,folder='Chicago_Data')

In [63]:
gen.create_csv(seasonal_profiles,df,folder='Chicago_Data')